<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">
 
    <http auto-config="true">
        <intercept-url pattern="/welcome.xhtml" access="ROLE_USER, ROLE_ADMIN" />
        <intercept-url pattern="/admin.xhtml" access="ROLE_ADMIN" />
        <form-login login-page="/login.xhtml"
         		authentication-success-handler-ref="MySuccessHandler"
        		authentication-failure-url="/login.xhtml?status=error" />            
        <logout logout-success-url="/login.xhtml?status=logout" />
    </http> 
    
     <beans:bean id="MySuccessHandler" class="com.login.controller.MySuccessHandler"></beans:bean>
	
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="ds"
                users-by-username-query="select UserName, Password, Enabled from User where UserName = ?" 
                authorities-by-username-query="select u.UserName, r.RoleName from User u, Role r where u.UserId = r.UserId and u.UserName = ? " />

        </authentication-provider>
    </authentication-manager>
 
    <beans:bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/LoginSecurity" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="e1r2e3n4" />
    </beans:bean>
    
 
</beans:beans>